.ticketContainer {
  //border: 1px red solid;
  .header {
    height: 35px;
    padding-left: 10px;
    padding-top: 8px;
    border-bottom : 1px red solid;
    background-color: #F7F7F7;
    color: #828282;
  }

  .ticketListContainer {

    .ticket {
      border-bottom: 1px grey solid;
      padding-left: 10px;
      padding-top: 2px;
      padding-bottom: 2px;

      .pack-container {
        font-size: 12px;
      }

      span {
        padding-top: 1px; 
      }
    }

    .ticket:hover {
      background-color: yellow;

    }
    span {
      display: block;
    }
  }
}