<div>
	<div class="ticketContainer">
	  <div layout="row" class="header">
	    <div flex="33">Section</div>
	    <div flex="33">Row</div>
	    <div flex="33">Price</div>
	  </div>
	  <div class="ticketListContainer">
		  <div layout="row" ng-repeat="ticket in tickets" class="ticket">
		    <div flex="33">
		      <span ng-if="ticket.level">{{ticket.level}}</span>
		      <span ng-if="ticket.section">{{ticket.section}}</span>
		      <span> {{ticket.pack | json}}</span>
		    </div>
		    <div flex="33" layout-align="center center">
		      <span ng-if="ticket.row">{{ticket.row}}</span>
		    </div>
		    <div flex="33" layout-align="center center">
		      <span>{{ticket.price}}</span>
		      <span>/ea</span>
		    </div>
		  </div>
	  </div>
  </div>
</div>
